{%- if review_app == 'loox_reviews' -%}
	<div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
{%- elsif review_app == 'judgeMe_reviews' -%}
	  <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge'  data-id='{{ product.id }}'>
	    {{ product.metafields.judgeme.badge }}
	  </div> 
{%- elsif review_app == 'ali_reviews' -%}
  <div product-id="{{ product.id }}" product-handle="{{ product.handle }}" class="alireviews-review-star-rating"></div>
{%- elsif review_app == 'yotpo_reviews' -%} 
 <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
{%- endif -%}