<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- render 'seo-title' -%}
    {% render 'meta-tags' %}
    {{ content_for_header }}
    {%- if settings.use_body_font == 'shopify' or settings.use_alt_font == 'shopify' -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endif -%}
    {%- if settings.use_body_font == 'google' or settings.use_alt_font == 'google' -%}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% endif %}
    {%- if settings.use_body_font == 'adobe' or settings.use_alt_font == 'adobe' -%}
      <link rel="preconnect" href="https://use.typekit.net/">
      <link rel="preconnect" href="https://use.typekit.net/" crossorigin>
    {% endif %}
    {% render 'font-face' %}
    {% render 'font-face' %}
    {{ 'font-icons.min.css' | asset_url | stylesheet_tag }}
    {{ 'theme-vendor.min.css' | asset_url | stylesheet_tag }}
    {{ 'base.min.css' | asset_url | stylesheet_tag }}   
    {% render 'css-variables' %}    
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>   
  </head>
  <body class="password">
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    {%- render 'internal-style' -%} 
  </body>
</html>
